.modal-content {
    background-image: url('../../img/notepad-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center 12%;
    border-radius: 0;
    font-family: 'Rock Salt', cursive;
    color: #777;
  
  }
  
  .modal-body {
    padding-top: 0;
    width: 80%;
    margin: 0 auto;
  }
  
  .noteInput {
    width: 100%;
    height: 2em;
    background: transparent;
    border: none;
    font-size: 2em;
    border-bottom: 2px solid #777;
  }
  
  #submitNote {
    background: transparent;
    border: 2px solid #777;
    font-size: 2em;
  }
  
  .instructions {
    display: inline-block;
    margin-right: 5em;
  }
  
  .note {
    background: transparent;
    margin-top: 5px;
    height: 3em;
    position: relative;
    cursor: pointer;
  }
  .noteTitle {
    display: inline-block;
    font-size: 2.5em;
    margin: 0;
  }
  
  .deleteNote {
    font-size: 2.5em;
    background: transparent;
    color: #777;
    border: none;
  }